{% if environment == 'production' %}
    {% load staticfiles %}
{% else %}
    {% load render_bundle from webpack_loader %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css' />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,100" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
        <title> AMITY Library Application </title>
        <script src="https://apis.google.com/js/api:client.js"></script>
	</head>

	<body>
		{% block main %}



        {% endblock main %}

        <div id="app-background-overlay"></div>
        <div id="app-background"></div>

        {% block base_js %}
            {% if environment != 'production' %}
                {% render_bundle 'main' %}
            {% endif %}
        {% endblock %}
	</body>
</html>
