{% if environment == 'production' %}
    {% load staticfiles %}
{% else %}
    {% load render_bundle from webpack_loader %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
        {% if environment == 'production' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/vendor.css' %}" />
            <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/app.css' %}" />
        {% endif %}
	</head>

	<body>
		{% block main %}



        {% endblock main %}
        
        <div id="app-background-overlay"></div>
        <div id="app-background"></div>

        {% block base_js %}
            {% if environment == 'production' %}
                <script src="{% static 'js/vendor.js' %}"></script>
                <script src="{% static 'js/app.js' %}"></script>
            {% else %}
                {% render_bundle 'main' %}
            {% endif %}
        {% endblock %}
	</body>
</html>