html {
  min-height: 100%;
}

body {
  height: 100%;
  background: #EDEDED;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.ui.header {
    color: white;
}

.ui.block.header {
    font-family: 'Kaushan Script', cursive;
    background: #4A90E2;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#content {
    padding-bottom:100px; /* Height of the footer element */
}

#footer {
    width:100%;
    /*height:100px;*/
    position:absolute;
    bottom:0;
    left:0;
    background: #4A90E2;
}

.ui.floated.header {
    color: white;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#quotesDisplay {
 /* background-color:#000;*/
  width:700px;
  height:120px;
  padding:12px;
  color:#000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:1.5em;
}
