#react-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgba(252, 90, 44, 0.89);
}


.main-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:  #EDEDED;
}


#title {
    color: #4A90E2;
    font-family: 'Kaushan Script', cursive;
    /*position: relative;
    left: 15px;*/
}

#h-text {
    color: #4A90E2;
    font-family: "Lato", sans-serif;
    position: relative;
    top: 6px;
}
.cont {
    display: inline-flex !important;
    flex-direction: row;
    width: 22% !important;
}

.item {
    flex: auto;
}

.ui.block.header {
    font-family: 'Kaushan Script', cursive;
    background: #4A90E2;
    border-radius:0;
}

#head {
    background: white;
    padding-left: 30px;
}

.footer-title {
    color: #4A90E2;
    margin-top: 10px;
}

.bc-grnd {
    color: white;
}

#react-footer {
    width:100%;
    /*height:100px;*/
    position:absolute;
    bottom:0;
    left:0;
    background: white;
    border-radius:0;
}

.ui.grid>[class*="four column"].row>.column {
     width: 22%!important;
}
#pix {
    /*position: relative;
    left: 4px;*/
}
