// ==========================================================================
// Library app mixins
// ==========================================================================

@mixin full-page ($z-index: -1, $opacity: 100) {
  bottom: 0;
  left: 0;
  opacity: $opacity;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index;
}
