// ==========================================================================
// Library app Navbar
// ==========================================================================

nav {
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 10%;
  justify-content: center;
  text-align: center;

  @media #{'only screen and #{$large}'} {
    min-height: 72px;
  }

  @media #{'only screen and #{$medium}'} {
    min-height: 64px;
  }

  @media #{'only screen and #{$small}'} {
    min-height: 56px;
  }
}
