// ==========================================================================
// Library app preloader
// ==========================================================================

.preloader {
  &.small {
    height: 2.5em;
    width: 2.5em;
  }

  &.medium {
    height: 4em;
    width: 4em;
  }

  &.large {
    height: 5em;
    width: 5em;
  }
}