{% extends "base.html" %}
{% load static %}

{% block title %}Library | Home{% endblock %}

{% block main %}

    <h1>My Home View</h1>

    <div id="app">
        <center>
            <p>What is this....</p>

            <div class="g-signin2" data-onsuccess="onSignIn"></div>
        </center>
    </div>
{% endblock %}



 <center>
            <button class="ui google plus button custom">
                <i class="google icon"></i>
                    Sign in with Andela Gmail
            </button>
            </center>


<center><div class="g-signin2" data-onsuccess="onSignIn"></div></center>



<div id="customBtn" class="customGPlusSignIn">
                <span class="icon"></span>
                <span class="buttonText">Sign in with Andela Gmail</span>
            </div>
