{% extends "base.html" %}
{% load static %}

{% block title %}Library | Home{% endblock %}

{% block main %}
    <div id="wrapper">
        <div id="header"><h1 class="ui block header">CuriousMind</h1></div>
        <div id="quotesDisplay" class="typed-curso"></div>
        <div id="authorDisplay" class="typed-curso"></div>
        <div id="text"></div>
        <div id="signin"></div>
        <div id="footer" class="ui clearing segment">
            <h3 class="ui right floated header">
                copyright 2016
            </h3>
            <h3 class="ui left floated header">
                Andela
            </h3>
        </div>
    </div>
{% endblock %}


